<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>SECTION: 1</p>
      <h2>General topic</h2>
    </div>
    <div class="col-md-4">
      <p><a class="btn btn-secondary" href="#" role="button">Show Less</a></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <p>READINGS:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-topic-detail title="hero" description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy......"></app-topic-detail>
    </div>
    <div class="col-md-6">
        <app-topic-detail title="hero" description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy......"></app-topic-detail>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <p>QUESTIONS:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <app-topic-detail title="hero" description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy......"></app-topic-detail>
    </div>
    <div class="col-md-6">
        <app-topic-detail title="hero" description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy......"></app-topic-detail>
    </div>
  </div>
</div>