.custom-container {
    padding: 4rem 2rem;
}

.sub-heading {
    color: gray;
    font-size: 12px;
    font-weight: 600;
}

.show-less {
    border: 1px #80cfe6 solid;
    border-radius: 18px;
    padding: 6px 0 0px;
    color: #80cfe6;
    text-align: center;
    width: 130px;
    float: right;
    cursor: pointer;
}
.show-less span {
    vertical-align: top;
    display: inline-block;
}