<div class="{{background=='gray' ? 'jumbotron' : 'custom-container'}}">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <p class="sub-heading">SECTION: 1</p>
        <h2>General topic</h2>
      </div>
      <div class="col-4 text-right">
        <div class="show-less"><i class="icon" data-feather="arrow-up"></i><span>Show Less</span></div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="sub-heading">READINGS:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-topic-detail background="{{background}}" isRead="true" title="Heading" description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy......"></app-topic-detail>
      </div>
      <div class="col-md-6">
        <app-topic-detail background="{{background}}" isRead="true" title="Heading" description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy......"></app-topic-detail>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="sub-heading">QUESTIONS:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-topic-detail background="{{background}}" isRead="true" title="Heading" description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy......"></app-topic-detail>
      </div>
      <div class="col-md-6">
        <app-topic-detail background="{{background}}" isRead="" title="Heading" description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy......"></app-topic-detail>
      </div>
    </div>
  </div>

</div>