.topic-detail {
    background-color: #fff;
    padding: 20px 30px;
    margin: 10px 0px 20px 0px;
}

.topic-detail.white {
    background-color: #eceeef;
}

.topic-detail h2 {
    font-size: 24px;
    font-weight: 500;
    color: #5e8ac7;
}
.topic-items {
    position: absolute;
    top: 40px;
    right: 45px;
    cursor: pointer;
    color: #80cfe6;
}

.topic-read-item {
    position: absolute;
    top: 45%;
    left: 5px;
    cursor: pointer;
    background-color: #5e8ac7;
    border-radius: 29px;
    height: 25px;
    width: 25px;    
    color: #fff;
}

.topic-detail .description {
    margin: 21px 0px 0px;
}