<div class="container">

  <app-breadcrumb></app-breadcrumb>

  <h1 class="display-3">Hello, world!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron
    and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>

</div>

<app-general-topic></app-general-topic>
<app-general-topic></app-general-topic>


<!-- <h3>Top Topics</h3>
<div class="grid grid-pad">
  <a *ngFor="let topic of topics" class="col-1-4"
      routerLink="/detail/{{topic.id}}">
    <div class="module topic">
      <h4>{{topic.name}}</h4>
    </div>
  </a>
</div> -->